*.png
*.jpg
*.pyc
*__pycache__/*
code/main/config.json
code/main/config_tmp.json
code/main/config_tmp2.json
data/traces/google_plus_trace/relations.txt
data/traces/google_plus_trace/all_timeline.txt
data/results/origin_data/*